.add-event {
  max-width: 768px;
  & .image {
    &.selected {
      border: 2px solid #6166dc;
      border-radius: 6px;
    }
  }
  & .fee-input .p-inputtext {
    background: rgba(255, 255, 255, 0.1);
  }
}

.radio-area {
  background: #1a1b20;
  border-radius: 7px;
  padding: 16px;
}

.check-wrapper {
  border: solid 1px #6166dc;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
