@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap');
@import 'primeflex/primeflex.scss';

:root {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1b20;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.submit {
  height: 44px;
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
}

a {
  color: #6166dc;
  text-decoration: none;
  background-color: transparent;
}
