.connect-wallet-button {
  width: 173px;
  height: 44px;
  border-radius: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
